* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 100px;
  border-radius: 40%;
  margin-right: 510px;
}



body {
  background-color: rgb(236, 226, 213) ;
}

header {
  background-color: rgb(236, 226, 213) ;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;  
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav li {
  color: rgb(168, 143, 110);
  font-size: 18px;
  font-weight: bolder;
}

header nav li a {
  color: rgb(168, 143, 110);
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; 
}

header .container {
  display: flex;
  align-items: center;
  
}

hr {
  height: 10px;
  background-color: rgb(168, 143, 110);
  margin: 20px;
}

h1, h2, p, form, li, address, footer, textarea {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(168, 143, 110);
}

h1, h2 {
  text-align: center;
  margin: 45px;
  font-weight: bolder;
}

p {
  font-size: 18px;
}

main {
  padding-top: 80px;
}
section h1 {
  text-align: left;
  font-size: 30px;
}

section img {
  height: 400px;
  border-radius: 15% ;
}

#especialidades img {
  width: 370px;
  margin-left: 100px 50px;
}

section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact img {
  height: 40px;
  margin: 20px 40px;
  display: flex;
}

#contact a {
  text-decoration: none;
}

#contact form {
  margin-left: 100px;
}

section form {
  border: 1px solid rgb(168, 143, 110);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: rgb(168, 143, 110);
  color: rgb(236, 226, 213);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
section form button {
  width: 100%;
  padding: 15px;
  background-color: rgb(236, 226, 213);
  color: rgb(168, 143, 110);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
section form button:hover {
  background-color: rgb(168, 143, 110);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(236, 226, 213);
}

textarea {
  resize: none;
  height: 100px;
}

input[type="text"], input[type="email"], input[type="tel"] {
  padding: 10px; 
}

footer {
  text-align: center;
}
